<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="registration"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<!--Вставляет блок из файла header.html с классом header -->
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1></h1>
    <div class="alert alert-info mt 2">
        <form action="/registration" method="post">
            <input type="email" name="email" placeholder="Введите ваш email" class="form-control" required><br>
            <input type="password" name="password" pattern="^\S{6,}$" placeholder="Введите ваш пароль" class="form-control" required><br>
            <input type="password" name="checked_password" pattern="^\S{6,}$" placeholder="Подтвердите ваш пароль" class="form-control" required><br>
            <button type="submit" class="btn btn-success">Войти</button>
        </form>
    </div>
</div>




<div th:insert="blocks/footer :: footer"></div>

</body>
</html>
