<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Sign_in"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<!--Вставляет блок из файла header.html с классом header -->
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h2 th:if="${error_auth}" style="color : red">
        Введён неверный<strong> email </strong> или<strong> password.</strong>
    </h2>
    <div class="alert alert-info mt 2">
        <form action="/login/process" method="post">
            <input type="email" name="email" placeholder="Введите ваш email" class="form-control"><br>
            <input type="password" name="password" placeholder="Введите ваш password" class="form-control"><br>
            <button type="submit" class="btn btn-success">Войти</button><br>
        </form>
            <a th:href="'/registration'" class="btm btm-warning">Зарегистрироваться</a>
    </div>
</div>



<div th:insert="blocks/footer :: footer"></div>

</body>
</html>