<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <!--Вставляет блок из файла header.html с классом header -->
    <header th:insert="blocks/header :: header"></header>

    <div class="container mt-5 mb-5" >
        <h3>Пойск по ключивому  слову:</h3>
        <form action="/post/find_post" method="post">
            <input type="text" th:value="${keyword}" name="keyword" placeholder="Введите текст" class="form-control"><br>
            <button type="submit" class="btn btn-success">Найти</button>
        </form>
    </div>

    <div class="container mt-5 mb-5" >
        <h3>Сортировка списка</h3>
        <form action="/post/list_posts/sort" method="post">

            <select name="parameterSort" size="1" id="modelId">
                <div th:each="sort : ${typeSort}" class="alert alert-info mt 2">
                    <option  th:if="${sort} == ${selected_parameterSort}" selected th:value="${sort}">
                        <span th:text="${sort.getParameterSort()}"/>
                    </option>

                    <option  th:if="${sort} != ${selected_parameterSort}" th:value="${sort}">
                        <span th:text="${sort.getParameterSort()}"/>
                    </option>
                </div>
            </select>

            <button type="submit" class="btn btn-success">Сортировать</button>
        </form>
    </div>

    <div th:if="${posts} != null" class="container mt-5">
        <h2>Список постов</h2>
        <div th:each="post : ${posts}" class="alert alert-info mt 2">
            <h3 th:text="${post.title}"/>
            <p th:text="${post.anons}"/>
            <a th:href="'/post/' + ${post.id}" class="btm btm-warning">Детальние</a>
        </div>
            <center>
            <span th:each="page : ${pages}">
                <a th:if="${page.name} != current"  th:href="'/post/list_posts?page_number=' + ${page.numberPage}" th:text="${page.name}"></a>
                <a th:if="${page.name} == current"  th:href="'/post/list_posts?page_number=' + ${page.numberPage}" th:text="${page.numberPage}" style="color:red"></a>
            </span>
            </center>
    </div>
    <div th:if="${errorMessage} != null" class="container mt-5">
        <p style="color:red" th:text="${errorMessage}"></p>
    </div>

    <div th:insert="blocks/footer :: footer"></div>

</body>
</html>