<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Добавить статью</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>

    <body>

    <!--Вставляет блок из файла header.html с классом header -->
    <header th:insert="blocks/header :: header"></header>

    <a th:href="'/topic/add'" class="btm btm-warning">Добавить новую тему</a>

    <!--mt- отступ сверху mb-отступ снизу-->
    <div class="container mt-5 mb-5" >
        <h2 align="center">Создание поста</h2>
        <span th:if="${errorMessage} != null">
            <p style="color:red" th:text="${errorMessage}"></p>
        </span>
        <form action="/post/add" method="post">
                <select name="topic" class="custom-select mr-sm-2">
                    <option selected value="0">Выберите тему статьй...</option>
                    <div th:each="topic : ${topics}" class="alert alert-info mt 2">
                        <option th:value="${topic.topicId}">
                            <span th:text="${topic.name}"/>
                        </option>
                    </div>
                </select><br><br>
                <input type="text" name="title"  placeholder="Введите название статьй" class="form-control"><br>
                <input type="text" name="anons" placeholder="Введите анонс статьй" class="form-control"><br>
                <textarea name="fullText" placeholder="Введите текст статьй" class="form-control"></textarea><br>
                <input type="hidden" name="views" th:value="0"><br>
                <button type="submit" class="btn btn-success">Добавить статью</button>
        </form>
    </div>

    <div th:insert="blocks/footer :: footer"></div>

    </body>

</html>