<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменить email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
    <body>
         <header th:insert="blocks/header :: header"></header>



         </span>

         <div class="container mt-5">
             <div class="alert alert-info mt 2">

                 <p style="color:red" th:text="${errorMessage}"></p>

                 <form action="/user/change-email" method="post">
                     <p><strong style="color:orange"> После смены email потребуется зановой войти в систему.</strong></p>

                     <label>  Ваш email: </strong>
                         <strong style="color:black" th:text="${user.email}"  > </strong>
                     </label> <br>

                     <input type="email" name="new_email" placeholder="Введите новый email" class="form-control" required><br>

                     <input type="password" name="password" pattern="^\S{6,}$" placeholder="Введите текущий пароль" class="form-control" required><br>

                     <button type="submit" class="btn btn-success"> Изменить </button>
                     <a href="/user/profile" class="btn btn-secondary"> Отменить </a>
                 </form>

             </div>
         </div>

        <div th:insert="blocks/footer :: footer"></div>
    </body>
</html>