<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Список всех тем</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>

<!--Вставляет блок из файла header.html с классом header -->
<header th:insert="blocks/header :: header"></header>

<!--mt- отступ сверху mb-отступ снизу-->
<div class="container mt-5 mb-5" >
    <h3 align="center">Темы постов</h3>
        <table class="table table-hover" >
            <thead>
                <tr style="background: #D9FFAD">
                    <th scope="col">Id</th>
                    <th scope="col">Название темы</th>
                    <th scope="col">Количество постов<br> в данной теме</th>
                </tr>
            </thead>
            <tbody>
                <div th:each="topic : ${topics}">
                    <tr>
                        <td th:text="${topic.topicId}"  scope="row"></td>
                        <td th:text="${topic.name}"></td>
                        <td th:text="${topic.numberPosts}"></td>
                    </tr>
                </div>
            </tbody>
        </table>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>

</html>