<div th:fragment="comments">

    <comments class="text-muted">
        <br>
        <div th:if=" ${comments} == null">
            <a th:href="'/post/' + ${post.id} + '/all-comments?enable_comments=true'" class="btn btn-danger">Показать коментарии</a>
        </div>
        <div th:if=" ${comments} != null">
            <a th:href="'/post/' + ${post.id} + '/all-comments?enable_comments=false'" class="btn btn-danger">Скрыть коментарии</a>
            <h3 th:text=" ${comments.size()} == 0 ? 'К данной статье нет коментариев' : 'Всего коментариев : ' + ${comments.size()}"> </h3>
            <div th:each="comment : ${comments}" class="alert alert-info mt 2">
                <p th:text="'Имя пользователя ' + ${comment.user.fullName}"/>
                <p th:text="${comment.message}"/>
                <p th:text="${comment.dateRegistrationToString()}"/>
            </div>
        </div>
    </comments>
</div>